.ShowBookList {
  background-color: #2c3e50;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

.CreateBook {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.show-psap-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-psap-list-container {
  width: 100%;
}

.psaps-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-info__text {
  font-family: 'Cutive', serif;
  font-weight: lighter;
  text-align: center;
}